
$fa-font-path: "../fonts/font-awesome" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

body{
    font-family: sans-serif;

    #admin{
        height: 100vh;
        display:flex;
      
        #wrapper{
          flex-grow: 1;
        }
        #sidebarMenu {
          background-color: black;
          color: white;
        }
      }
}
main{
    width: 80%;
    margin: 0 auto;
}
.containerx{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.cardx {
    background-color: transparent;
    width: 45%;
    height: 40vh;
    text-decoration: none;
    margin: 20px 10px;
    border: 1px solid black;

    .cardDescriptionx {
        padding: 10px;
        height: 100%;
        background-color: #bbb;
        color: black;
        font-weight: 700;

        a{
            text-decoration: none;  
        }
    }
}

